<h1 mat-dialog-title>Užsakyti prekę</h1>
<div mat-dialog-content style="text-align: center;">
  <p>Per kiek dienų pristatyti?</p>
  <div>
    <mat-button-toggle-group (change)="onDaysAmountSelected($event)" style="margin-bottom: 6px;" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="3">3</mat-button-toggle>
      <mat-button-toggle value="5">5</mat-button-toggle>
      <mat-button-toggle value="10">10</mat-button-toggle>
    </mat-button-toggle-group>
  </div>


  <!-- <p>Apmokėti</p> -->
  <button mat-button [disabled]="isPayed" (click)="pay()">
    <span *ngIf="isPayed; else notPayed" style="color: green;">
      {{payedText}}
    </span>
    <ng-template #notPayed>
      {{payedText}}
    </ng-template>
  </button>
</div>
<div mat-dialog-actions style="text-align: right;">
  <button mat-button (click)="onAbort()">Atšaukti</button>
  <button [disabled]="!isPayed || !daysAmount" mat-button mat-dialog-close="true" cdkFocusInitial>Ok</button>
</div>