.form-control {
    margin: 10px;
    width: 400px;
    text-align: center;
    
}
.login-component {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form {
    margin-top: 150px;

}